
<%= simple_form_for(@temp_shared_subscription) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <br>
  <div class="form-inputs">
    <%= f.input :end_date %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, class: "btn" %>
  </div>
<% end %>
