<%= simple_form_for(@temp_shared_subscription, url: send_temp_access_email_temp_shared_subscription_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= simple_fields_for :no_model_fields do |n| %>
    <%= n.input :email, placeholder: "enter email address", :required => 'required' %>
  <% end %>
  <br>
  <div class="form-actions">
    <%= f.button :submit, "Send Email" %>
  </div>
  
<% end %>