
<body>
  <div class="main">
	<h1 class="display-2 center">TV show / movie search</h1>
  <%= form_for(:search, :url =>{:controller => 'search', :action => 'show' }) do |form|%>
          <div class="form-group">
            <%= form.text_field :title, placeholder: 'Search for shows and movies to watch now!', class: 'form-control'%>
            <%= form.submit "show" %>
          </div>
        <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-warning"><%= flash[:alert] %></div>
     <% end %>
      <div> 
      
      <% @resultsName.each do |r|%> 
            <a><%= r %></a> 
            <%end%>
      
      </div>
  </div>
  <div class="container">
  </div>
</body>