<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<%= form_with(model: reminder) do |form| %>
  <% if reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
        <% reminder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reminder_type %>
    <%= form.select :reminder_type, ["Billing", "Cancellation"], :required => 'required' %>
  </div>
  
  <div class="field">
    <fieldset>
      <legend><%= form.label :recurring %></legend>
      <%= form.select :recurring, [['No', false], ['Yes', true]], :required => 'required' %>

      <% if @reminder.recurring == true %>
        <div id="frequency" class="field">
          <%= form.label :frequency %>
          <%= form.select :frequency, ["Weekly", "Monthly", "Annually"], :required => 'required' %>
        </div>
      <% else %>
        <div id="frequency" class="hidden">
          <%= form.label :frequency %>
          <%= form.select :frequency, ["Weekly", "Monthly", "Annually"], :required => 'required'  %>
        </div>
      <% end %>

    </fieldset>
  </div>

  <% invalid = reminder.errors.include?(:end_date) %>
  <div class="field">
    <%= form.label :end_date %> (DD-MM-YYYY)
    <%= form.text_field :end_date, class: "form-control datepicker" %>
  </div>

  <div class="field">
    <%= form.label "Remind me:" %> 
    <%= form.select :notification_time, [ ["same day", 0], 
                                          ["1 day before", 1],
                                          ["2 days before", 2],
                                          ["3 days before", 3],
                                          ["4 days before", 4],
                                          ["5 days before", 5]]  %>
  </div>

  <div class="actions">
    <%= hidden_field_tag :subscription_id, @reminder.subscription_id %>
    <%= form.submit %>
  </div>

  <script language="javascript">
  $('#reminder_recurring').change(function(event){
    if($('#reminder_recurring').val() === 'true') {
      $('#frequency').removeClass('hidden');
    }
  });

  $('#reminder_recurring').change(function(event){
    if($('#reminder_recurring').val() === 'false') {
      $('#frequency').addClass('hidden');
    }
  });
  </script>
<% end %>
