<%= form_with(model: reminder) do |form| %>
  <% if reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
        <% reminder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recurring %>
    <%= form.text_field :recurring %>
  </div>

  <div class="field">
    <%= form.label :reminder_type %>
    <%= form.text_field :reminder_type %>
  </div>
  
  <div class="field">
    <%= form.label :time_delta %>
    <%= form.text_field :time_delta %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.text_field :end_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
