<%= form_with(model: reminder) do |form| %>
  <% if reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
        <% reminder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recurring %>
    <%= form.select :recurring, ["Yes", "No"] %>
  </div>

  <div class="field">
    <%= form.label :reminder_type %>
    <%= form.select :reminder_type, ["Billing", "Cancellation"] %>
  </div>
  
  <div class="field">
    <%= form.label "Reminder me:" %> 
    <%= form.select :time_delta, ["1 day before", "2 days before", "3 days before", "4 days before", "5 days before"]  %>
  </div>

  <div class="field">
    <%= form.label :end_date %> (DD-MM-YYYY)
    <%= form.text_field :end_date %>
  </div>

  <div class="actions">
    <%= hidden_field_tag :subscription_id, @reminder.subscription_id %>
    <%= form.submit %>
  </div>
<% end %>
