<%= render :layout => 'subscriptions/shared/layout' do %>
  <p id="notice"><%= notice %></p>
  <div class="d-flex flex-row align-items-center">
    <h1 class="float-left display-4">Your Reminders</h1>
  </div>

  <hr class="section-break">
  <% if @reminders.count <= 0 %>
    <p>You currently have no reminders. In order to add a reminder, please visit a subscription's information page in order to create one.</p>
  <% end %>
  <% @reminders.each do |reminder| %>
    <div class="row">
        <div class="col col-sm-4">
          <div class="card" style="width: 18rem;">

            <div class="card-body">
              <h5 class="">Subscription: <%= reminder.subscription.subscription_name %></h5>
              <p class="card-text">End date: <%= reminder.end_date %></p>
              <p class="card-text">Reminder type: <%= reminder.reminder_type %></p>
              <p class="card-text">Frequency: <%= reminder.frequency %></p>
              <p class="card-text">Notification time before: <%= reminder.notification_time %></p>

              <%= button_to 'Edit Reminder', edit_reminder_path(reminder), method: :get, class: "btn btn-dark btn-view-sub" %>
              <%= button_to 'Delete', reminder, method: :delete, data: { confirm: 'Are you sure?' } %>

            </div>
          </div>
        </div>
    </div>
    <% end %>
  <% end %>

