<%= render :layout => 'subscriptions/shared/show' do %>


<p id="notice"><%= notice %></p>
<p>
  <strong>Subscription:</strong>
  <%= @reminder.subscription.subscription_name %>
</p>

<p>
  <strong>Reminder type:</strong>
  <%= @reminder.reminder_type %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @reminder.recurring %> days before
</p>
<p>
  <strong>Frequency:</strong>
  <%= @reminder.frequency %> days before
</p>

<p>
  <strong>Remind me:</strong>
  <%= @reminder.notification_time %> days before
</p>

<p>
  <strong>End date:</strong>
  <%= @reminder.end_date %>
</p>

<%= button_to 'Edit Reminder', edit_reminder_path(@reminder), method: :get, class: "btn btn-dark btn-view-sub" %>
<%= button_to 'Back to Subscription', @reminder.subscription, method: :get %> 

<% end %>
