<p id="notice"><%= notice %></p>
<p>
  <strong>Time delta:</strong>
  <%= @reminder.time_delta %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @reminder.recurring %>
</p>

<p>
  <strong>Message:</strong>
  <%= @reminder.message %>
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
