<%= render :layout => 'subscriptions/shared/show' do %>


<% if  flash[:notice] %><p id="notice" class="alert"><%= notice %></p><% end %>
<div class="row group-show-header">
  <div class="col-sm-2" align="center">
    <%= link_to 'Back', @reminder.subscription, method: :get, class: "header-btn" %> 
  </div>
  <div class="col-sm-8" align="center">
    <h1 class="card-title-header">New <%= @reminder.subscription.subscription_name %> Reminder</h1>
  </div>
  <div class="col-sm-2" align="center">
    <%= link_to 'Edit', edit_reminder_path(@reminder), method: :get, class: "header-btn" %>

  </div>
</div>
<hr>

<p>
  <strong>Subscription:</strong>
  <%= @reminder.subscription.subscription_name %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @reminder.recurring %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @reminder.frequency %> 
</p>

<p>
  <strong>Reminder type:</strong>
  <%= @reminder.reminder_type %>
</p>

<p>
  <strong>Remind me:</strong>
  <%= @reminder.notification_time %> days before
</p>

<p>
  <strong>End date:</strong>
  <%= @reminder.end_date %>
</p>


<% end %>
