<%= render :layout => 'subscriptions/shared/show' do %>


<p id="notice"><%= notice %></p>
<p>
  <strong>Subscription:</strong>
  <%= @reminder.subscription.subscription_name %>
</p>

<p>
<<<<<<< HEAD
=======
  <strong>Reminder ID:</strong>
  <%= @reminder.id %>
</p>

<p>
>>>>>>> ccd8d23 ([Reminder Feature] - Connected Reminders to Subscriptions)
  <strong>Recurring:</strong>
  <%= @reminder.recurring %>
</p>

<p>
  <strong>Reminder type:</strong>
  <%= @reminder.reminder_type %>
</p>

<p>
  <strong>Remind me:</strong>
  <%= @reminder.time_delta  %> days before
</p>

<p>
  <strong>End date:</strong>
  <%= @reminder.end_date %>
</p>

<%= button_to 'Edit Reminder', edit_reminder_path(@reminder), method: :get, class: "btn btn-dark btn-view-sub" %>
<%= button_to 'Back', @reminder.subscription, method: :get %> 

<% end %>
