<div class="tab-pane fade" id="personal" role="tabpanel" aria-labelledby="personal-tab">
  
  <div class="row stat-row">
    <div class="col col-lg-4", style="text-align: left; padding: 20px 0 0 60px;">
      <%= image_tag "PersonMoney.png", style:"border-color: var(--mauve);", class: "stat-img" %>
    </div>
    <div class="col col-lg-8 stat-col-info-header">
      <h2>Personal Statistics</h2>
      <br>
      <p>Your personal statistics on Gatekeeper can be found below. Knowing how much you personally pay for subscription services each month is a powerful thing, and we aim to bring that power to you. This personalized dashboard should help you keep your spending habits in check!<p>
      <p>The graph below will show you your monthly breakdown of expenses while the table will display different statitics about each subscription.</p>
    </div>
  </div>
  <br>
  
  <div class="row stat-row">
    <div class="col col-lg-8 stat-col-data">
      <%= pie_chart current_user.subscriptions.group(:subscription_name).sum(:cost_per_month), 
      colors: ['#572F41', '#D1DBBD', '#69193E', '#91AA9D', '#973756', '#3E606F', '#BBAEAE', '#6F8A79', '#BDDDC9', '#193441'],
      legend: "left"
      %>  
    </div>
    <div class="col col-lg-4 stat-col-info personal-color">
      <h4>Cost of Your Monthly Subscriptions</h4>
      <p>Your total monthly cost of serivces on our website is <b>$<%= current_user.total_cost %></b>. 
      The breakdown of where you spend your money can be seen on the pie chart for this section. 
      Hover over the pie sections or view the table below to see where you spend your money or view the table below for a more indepth analysis.</p>
    </div>
  </div>
  <br>
  
  <div class="row stat-row">
    <div class="col col-lg-4 stat-col-info personal-color">
      <h4>Total Cost of Your Subscriptions</h4>
      <p>Your total all-time cost of serivces tracked on our website is <b>$<%= current_user.total_cost_overall %></b>.
      The table in this section shows the cost you pay per month, the total amount of money you've spent on a subscription service since adding it to Gatekeeper, 
      the service's website, and the day you added the subscription to our website.</p>
    </div>
    <div class="col col-lg-8 stat-col-data">
      <table class="table">
        <thead class="stat-table">
          <tr>
            <th scope="col">Cost / mo</th>
            <th scope="col">Total Cost</th>
            <th scope="col">Subscription Name</th>
            <th scope="col">Website</th>
            <th scope="col">Created On</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.subscriptions.order(:cost_per_month).each do |sub| %>
            <tr>
              <td>$<%= sub.cost_per_month %></td>
              <td>$<%= ((((Time.now - sub.created_at) / 60 / 60 / 24).round / 30 + 1) * sub.cost_per_month) %></td>
              <td><%= sub.subscription_name %></td>
              <td><a href="<%= sub.url %>" target=_blank><%= sub.url %></a></td>

              <td><%= sub.created_at.to_datetime.month %> / <%= sub.created_at.to_datetime.day %> / <%= sub.created_at.to_datetime.year %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
