<div class="container stat-page" style="margin-top: 50px;">
  
  <h1 style="margin-bottom: 30px;">Gatekeeper Statistics</h1>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="sitewide-tab" data-bs-toggle="tab" data-bs-target="#sitewide" type="button" role="tab" aria-controls="sitewide" aria-selected="true">Sitewide</a>
    </li>
    <% if current_user %>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="group-tab" data-bs-toggle="tab" data-bs-target="#group" type="button" role="tab" aria-controls="group" aria-selected="false">Group</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="personal-tab" data-bs-toggle="tab" data-bs-target="#personal" type="button" role="tab" aria-controls="personal" aria-selected="false">Personal</a>
    </li>
    <% end %>
  </ul>

  <div class="tab-content" id="myTabContent">
    
    <%= render 'sitewide' %>
    

    <% if current_user %>
      <div class="tab-pane fade" id="group" role="tabpanel" aria-labelledby="group-tab">
        <div class="row">
          <div class="col col-md-6">
            <h3>Group statistics</h3>
          </div>
          <div class="col col-md-6 text-right">
            <div class="btn-group" role="group" aria-label="Basic example">
              <% current_user.all_groups.each_with_index do |group, index| %>
                <% if index==0 %>
                  <button type="button" class="btn btn-light stat-btn-group active" id="stat-btn-<%= group.group_name %>" onclick="showGraph('<%= group.group_name %>', <%= current_user.group_cost(group) %>)"><%= group.group_name %></button>
                <% else %>
                  <button type="button" class="btn btn-light stat-btn-group" id="stat-btn-<%= group.group_name %>" onclick="showGraph('<%= group.group_name %>', <%= current_user.group_cost(group) %>)"><%= group.group_name %></button>
                <% end %>
              <% end %>
                
            </div>
          </div>
        </div>

          <% if current_user.all_groups.count > 0 %>
          <p>Use the buttons above to view cost statistics for all of the groups you either own or are a member of.</p>
          <p>You are currently the owner of <b><%= current_user.owned_groups.count %> group(s)</b> and are a member of 
          <b><%= current_user.groups.count %> group(s)</b>. Thanks for using the core feature of Gatekeeper... sharing! 
          Too often does this feature go unused on our site which makes our developers sad since that was the purpose behind
          starting this wonderful subscription manager.</p>
          

          <div class="row stat-row">
            <div class="col col-lg-4 stat-col-info">
              <h4 id="stat-group-header">Montly Cost of Group <%= current_user.all_groups.first().group_name %></h4>
              <p>Your total all-time cost of serivces tracked on our website is <b id="stat-group-cost">$<%= current_user.group_cost(current_user.all_groups.first()) %></b>.
              The table in this section shows the cost you pay per month, the total amount of money you've spent on a subscription service since adding it to Gatekeeper, 
              the service's website, and the day you added the subscription to our website.</p>
              

            </div>
            <div class="col col-lg-8 stat-col-data">
              
              <% current_user.all_groups.each_with_index do |gr, index| %>
                <% if index==0 %>
                  <div id="stat-div-<%= gr.group_name %>" class="stat-div-charts visible">
                    <%= pie_chart gr.subscriptions.group(:subscription_name).sum(:cost_per_month), 
                    colors: ['#572F41', '#D1DBBD', '#69193E', '#91AA9D', '#973756', '#3E606F', '#BBAEAE', '#6F8A79', '#BDDDC9', '#193441'],
                    legend: "right"
                    %>
                  </div>
                <% else %>
                  <div id="stat-div-<%= gr.group_name %>" class="stat-div-charts hidden">
                  <%= pie_chart gr.subscriptions.group(:subscription_name).sum(:cost_per_month), 
                  colors: ['#572F41', '#D1DBBD', '#69193E', '#91AA9D', '#973756', '#3E606F', '#BBAEAE', '#6F8A79', '#BDDDC9', '#193441'],
                  legend: "right"
                  %>
                  </div>
                <% end %>
              <% end %>
              
            </div>

          </div>
          <div class="row stat-row">
           
            <div class="col col-lg-8 stat-col-data">
              
              <% current_user.all_groups.each_with_index do |gr, index2| %>
              <% if index2==0 %>
                <div id="stat-div-<%= gr.group_name %>-2" class="stat-div-charts-2 visible">
                  <%= pie_chart gr.subscriptions.joins(:user).group("users.username").sum(:cost_per_month), 
                  colors: ['#572F41', '#D1DBBD', '#69193E', '#91AA9D', '#973756', '#3E606F', '#BBAEAE', '#6F8A79', '#BDDDC9', '#193441'],
                  legend: "left"
                  %>
                </div>
                <% else %>
                <div id="stat-div-<%= gr.group_name %>-2" class="stat-div-charts-2 hidden">
                <%= pie_chart gr.subscriptions.joins(:user).group("users.username").sum(:cost_per_month), 
                colors: ['#572F41', '#D1DBBD', '#69193E', '#91AA9D', '#973756', '#3E606F', '#BBAEAE', '#6F8A79', '#BDDDC9', '#193441'],
                legend: "left"
                %>
                </div>
              <% end %>
              <% end %>
              
            </div>
             <div class="col col-lg-4 stat-col-info">
              <h4 id="stat-group-header-2">Montly Cost of Group <%= current_user.all_groups.first().group_name %></h4>
              <p>Your total all-time cost of serivces tracked on our website is <b id="stat-group-cost-2">$<%= current_user.group_cost(current_user.all_groups.first()) %></b>.
              The table in this section shows the cost you pay per month, the total amount of money you've spent on a subscription service since adding it to Gatekeeper, 
              the service's website, and the day you added the subscription to our website.</p>
              

            </div>

          </div>
          <% else %>
          <p>You currently are not a member or owner of any groups. In order to get the full Gatekeeper experience, 
          think about starting a group or joining a friend's group today! Sharing is the best aspect of being a member
          on our site</p>

          <% end %>
      </div>


      <div class="tab-pane fade" id="personal" role="tabpanel" aria-labelledby="personal-tab">
        <h3>Personal statistics</h3>
        <p>View your personal statistics below.</p>
        <hr>
        <div class="row stat-row">
          <div class="col col-lg-8 stat-col-data">
            <%= pie_chart current_user.subscriptions.group(:subscription_name).sum(:cost_per_month), 
            colors: ['#572F41', '#D1DBBD', '#69193E', '#91AA9D', '#973756', '#3E606F', '#BBAEAE', '#6F8A79', '#BDDDC9', '#193441'],
            legend: "left"
            %>  
          </div>
          <div class="col col-lg-4 stat-col-info">
            <h4>Cost of Your Monthly Subscriptions</h4>
            <p>Your total monthly cost of serivces on our website is <b>$<%= current_user.total_cost %></b>. 
            The breakdown of where you spend your money can be seen on the pie chart for this section. 
            Hover over the pie sections or view the table below to see where you spend your money or view the table below for a more indepth analysis.</p>
          </div>

        </div>
        
        <div class="row stat-row">
          <div class="col col-lg-4 stat-col-info">
            <h4>Total Cost of Your Subscriptions</h4>
            <p>Your total all-time cost of serivces tracked on our website is <b>$<%= current_user.total_cost_overall %></b>.
            The table in this section shows the cost you pay per month, the total amount of money you've spent on a subscription service since adding it to Gatekeeper, 
            the service's website, and the day you added the subscription to our website.</p>
          </div>
          <div class="col col-lg-8 stat-col-data">
            <table class="table">
              <thead class="stat-table">
                <tr>
                  <th scope="col">Cost / mo</th>
                  <th scope="col">Total Cost</th>
                  <th scope="col">Subscription Name</th>
                  <th scope="col">Website</th>
                  <th scope="col">Created On</th>
                </tr>
              </thead>
              <tbody>
              <% current_user.subscriptions.order(:cost_per_month).each do |sub| %>
                  <tr>
                    <td>$<%= sub.cost_per_month %></td>
                    <td>$<%= ((((Time.now - sub.created_at) / 60 / 60 / 24).round / 30 + 1) * sub.cost_per_month) %></td>
                    <td><%= sub.subscription_name %></td>
                    <td><a href="<%= sub.url %>" target=_blank><%= sub.url %></a></td>

                    <td><%= sub.created_at.to_datetime.month %> / <%= sub.created_at.to_datetime.day %> / <%= sub.created_at.to_datetime.year %></td>
                  </tr>
                <% end %>
              
              </tbody>
            </table>
          </div>

        </div>
      </div>
    <% end %>
  </div>
<script>
  function showGraph(groupName, monthlyCost) {
    const collection = document.getElementsByClassName("stat-div-charts visible");
    for (let i = 0; i < collection.length; i++) {
        collection[i].classList.add("hidden");
        collection[i].classList.remove("visible");
    }

    const collection2 = document.getElementsByClassName("stat-div-charts-2 visible");
    for (let i = 0; i < collection2.length; i++) {
        collection2[i].classList.add("hidden");
        collection2[i].classList.remove("visible");
    }

    var graph = document.getElementById("stat-div-"+groupName);
    graph.classList.remove("hidden");
    graph.classList.add("visible");     
    
    var graph2 = document.getElementById("stat-div-"+groupName+"-2");
    graph2.classList.remove("hidden");
    graph2.classList.add("visible"); 

    const buttons = document.getElementsByClassName("stat-btn-group active")
    for (let i = 0; i < buttons.length; i++) {
      buttons[i].classList.remove("active");
    }

    var activeBtn = document.getElementById("stat-btn-"+groupName);
    activeBtn.classList.add("active");

    document.getElementById("stat-group-header").innerHTML = "Monthly Cost of Group "+groupName;
    document.getElementById("stat-group-header-2").innerHTML = "Monthly Cost of Group "+groupName;


    document.getElementById("stat-group-cost").innerHTML = "$" + monthlyCost;
  }
</script>
</div>