
<a href="#" class="btn ml-auto dropdown-toggle" style="align-items: center" role="button" title="Create a new subscription" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
	<%= fa_icon "plus" %> New Subscription
</a>
<hr/>
<div class="collapse" id="collapseExample">
<%= simple_form_for @group, method: :patch do |group_form| %>
	<fieldset>
        <%= group_form.fields_for :shared_subscriptions do |f| %>
            <%= f.hidden_field :_destroy %>
			<%= f.association :subscription, as: :select, input_html: {class: 'chosen-select'}, label_method: :subscription_name, collection: current_user.subscriptions %>
			<%= f.select :permission, SharedSubscription.permissions.keys, input_html: {class: 'chosen-select'}%>
        <% end %>
    </fieldset>
	<%= group_form.input :update_action, as: :hidden, :input_html => { :value => "add" }%>
	<div class="actions">
		<%= group_form.submit :add_subscription, class: "btn btn-dark" %>
	</div>
<% end %>
</div>
