<%= form_with(model: group) do |group_form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= group_form.label :group_name %>
    <%= group_form.text_field :group_name %>
  </div>

  <fieldset>
      <legend>Users:</legend>
      <%= group_form.fields_for :members do |users_form| %>
          <%= render "member_fields", f: users_form %>
      <% end %>
      <%= link_to_add_fields "Add Users", group_form, :members %>
  </fieldset>

  <div class="actions">
    <%= group_form.submit %>
  </div>
<% end %>
