<%= simple_form_for group do |group_form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.is_admin?(group) %>
    <%= group_form.input :group_name %>
    <fieldset>
        <legend>Members:</legend>
        <%= group_form.fields_for :members do |members_form| %>
            <%= render "member_fields", f: members_form%>
        <% end %>
        <%= link_to_add_fields "Add Members", group_form, :members %>
    </fieldset>
  <% end %>

  <% if current_user.is_collaborator?(group) %>
    <fieldset>
        <legend>Subscriptions:</legend>
        <%= group_form.fields_for :shared_subscriptions do |subscriptions_form| %>
            <%= render "shared_subscription_fields", f: subscriptions_form%>
        <% end %>
        <%= link_to_add_fields "Add Subscription", group_form, :shared_subscriptions %>
    </fieldset>
  <% end %>
  
  <div class="actions">
      <%= group_form.submit class:"btn btn-dark"%>
  </div>
<% end %>
