<%= simple_form_for group do |group_form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= group_form.input :group_name %>
  <%= group_form.association :users, as: :select, multiple: true, input_html: {class: 'chosen-select'}, label_method: :username, collection: User.where.not(id: current_user.id)%>

  <div class="actions">
      <%= group_form.submit class:"btn btn-dark"%>
  </div>
<% end %>
