<%= render :layout => 'subscriptions/shared/layout' do %>
<% if  flash[:notice] %><p id="notice" class="alert"><%= notice %></p><% end %>

<div class="d-flex flex-row align-items-center">
    <h1 class="float-left display-4">Your Groups</h1>
    <a href="groups/new" class="btn ml-auto" style="align-items: center" role="button" title="Create a new group">
      <%= fa_icon "plus" %> New Group
    </a>
  </div>

  <hr class="section-break">

      <div class="row" style="margin-bottom: 40px;">
        <% @groups.each do |gr| %>
          <div class="col-md-12 col-lg-6">
            <div class="card" style="width: 100%; height: 85%">
              <div class="card-header">
                <h5 class="card-title ct-group"><%= gr.group_name %> Group</h5>
              </div>
              <div class="card-body cb-group" >
                <p class="card-text" style="font-weight: bold; margin-bottom: 0; font-size: 18px;">Members</p>
                <div class="row">
                  <div class="col-auto col-users">
                    <a href="<%= user_root_path(gr.owner.username) %>" class="card-user"><%= fa_icon "star" %> <%= "#{gr.owner.username}" %></a>
                  </div>
                  <% gr.members.each do |member| %>
                    <%user = member.user%>
                    <div class="col-auto col-users">
                      <a href="<%= user_root_path(user.username) %>" class="card-user"><%= fa_icon "user" %> <%= "#{user.username}" %></a>
                    </div>
                  <% end %>
                </div>
                <div class="row" style="margin-top: 20px;" id="actions-<%= gr.group_name %>">
                  <div class="col-auto">
                    <p class="card-text"><%= link_to 'View', gr, class:"card-btn" %></p>
                  </div>
                  <% if (current_user.is_collaborator?(gr)) %>
                    <div class="col-auto">
                      <p><%= link_to 'Edit', edit_group_path(gr), class:"card-btn" %></p>
                    </div>
                  <% end %>
                  <% if (current_user.is_owner?(gr)) %>
                    <div class="col-auto">
                      <p><%= link_to 'Delete', gr, class:"card-btn-delete", method: :delete, data: { confirm: 'Are you sure?' } %></p>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

<br>

<%
=begin%>
 <%= link_to 'New Group', new_group_path %> 
<%
=end%>
<% end %>