<%= render :layout => 'subscriptions/shared/layout' do %>
<p id="notice"><%= notice %></p>

<div class="d-flex flex-row align-items-center">
    <h1 class="float-left display-4">Your Groups</h1>
    <a href="groups/new" class="btn ml-auto" style="align-items: center" role="button" title="Create a new group">
      <%= fa_icon "plus" %> New Group
    </a>
  </div>

  <hr class="section-break">

  <tbody>
    <% @groups.in_groups_of(2, false).each do |group| %>
      <div class="row" style="margin-bottom: 40px;">
        <% group.each do |gr| %>
          <div class="col col-lg-6">
            <div class="card" style="width: 100%;">
              <div class="row no-gutters">
                <div class="col-lg-4" >
                  <div class="" style="height: 100%; border-radius: 3px; background-color: var(--magenta); margin-left: 12px;">

                  </div>
                </div>
                <div class="col-lg-8" >
                  <div class="card-body cb-group" >
                    <h5 class="card-title ct-group"><%= gr.group_name %></h5>
                    <p class="card-text" style="text-decoration: underline; margin-bottom: 0;">members</p>
                    <div class="row">
                      <div class="col-auto col-users">
                        <a href="<%= user_root_path(gr.owner.username) %>" class="card-user"><%= fa_icon "star" %> <%= "#{gr.owner.username}" %></a>
                      </div>
                      <% gr.members.each do |member| %>
                        <%user = member.user%>
                        <div class="col-auto col-users">
                          <a href="<%= user_root_path(user.username) %>" class="card-user"><%= fa_icon "user" %> <%= "#{user.username}" %></a>
                        </div>
                      <% end %>
                    </div>
                    <div class="row" style="margin-top: 30px;">
                      <div class="col-auto">
                        <p class="card-text"><%= link_to 'View', gr, class:"card-btn" %></p>
                      </div>
                      <% if (current_user.is_collaborator?(gr)) %>
                        <div class="col-auto">
                          <p><%= link_to 'Edit', edit_group_path(gr), class:"card-btn" %></p>
                        </div>
                      <% end %>
                      <% if (current_user.is_owner?(gr)) %>
                        <div class="col-auto">
                          <p><%= link_to 'Delete', gr, class:"card-btn-delete", method: :delete, data: { confirm: 'Are you sure?' } %></p>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%
=begin%>
 <%= link_to 'New Group', new_group_path %> 
<%
=end%>
<% end %>