
  <script type="text/javascript">
    function toggleHidden() {
      if (document.getElementById("subscription_password").type === 'password') {
        document.getElementById("subscription_password").type = 'text';
      } else {
        document.getElementById("subscription_password").type = 'password'
      }
    }
  </script>
  
  <%= simple_form_for subscription do |form| %>
    <% if subscription.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

        <ul>
          <% subscription.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :subscription_name %>
      <%= form.text_field :subscription_name %>
    </div>

    <div class="field">
      <%= form.label :username %>
      <%= form.text_field :username %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <% if has_password %>
        <%= form.password_field :password, value: subscription.password%>
      <% else %>
        <%= form.password_field :password %>
      <% end %>
      <a id="view-password-button" class="button default ok" onclick="toggleHidden()">
        View
      </a>
    </div>

    <div class="field">
      <%= form.label :url %>
      <%= form.text_field :url %>
    </div>

    <div class="field">
      <%= form.label :cost_per_month %>
      <%= form.text_field :cost_per_month %>
    </div>

    <div class="field">
      <%= form.label :image %>
      <%= form.text_field :image %>
    </div>
  
    <br>
    <fieldset>
        <h5 style="margin-top: 20px;">Groups</h5>
        <%= form.fields_for :share_records do |group_form| %>
            <%= render "share_record_fields", f: group_form %>
        <% end %>
        <%= link_to_add_fields "Add Group", form, :share_records %>
    </fieldset>

    <br>
    <div class="actions">
      <%= form.submit class:"btn btn-dark"%>
    </div>
  <% end %>
