<%= form_with(model: subscription) do |form| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
        <% subscription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.text_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :sub_username %>
    <%= form.text_field :sub_username %>
  </div>

  <div class="field">
    <%= form.label :sub_password %>
    <%= form.text_field :sub_password %>
  </div>

  <div class="field">
    <%= form.label :monthly_cost %>
    <%= form.text_field :monthly_cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
