<%= render :layout => 'subscriptions/shared/layout' do %>
  <% if  flash[:notice] %>
    <p id="notice" class="alert"><%= notice %></p>
  <% end %>

  <div class="d-flex flex-row align-items-center">
    <h1 class="float-left display-4">Your Subscriptions</h1>
    <a href="subscriptions/new" class="btn ml-auto" style="align-items: center" role="button" title="Create a new subscription">
      <%= fa_icon "plus" %> New Subscription
    </a>
  </div>

  <hr class="section-break">
    <div class="row">
      <% @subscriptions.each do |subscription| %>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
          <div class="sub-card">
            <div class="card-img sub-card-img center-elem" id="<%= subscription.subscription_name %>-color">
              <%= fa_icon "lock 4x"%>
            </div> 

            <div class="card-body">
              <%= link_to subscription, method: :get, class: "sub-card-link stretched-link" do %>
                <h5 class=""><%= subscription.subscription_name %></h5>
              <% end %>
              <p class="card-text"><%= subscription.username %></p>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  <br>

  <% @groups.each do |group| %>
    <div class="d-flex flex-row align-items-center">
      <h1 class="float-left display-4"><%= group.group_name %> Subscriptions</h1>
      <%= link_to 'View Group', group_url(group.id), class: "btn ml-auto", style: "align-items: center", title: "Create a new subscription"%>
    </div>

    <hr class="section-break">
      <div class="row">
        <% group.subscriptions.each do |subscription| %>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
            <div class="sub-card">
              <div class="card-img sub-card-img center-elem" id="<%= subscription.subscription_name %>-color">
                <%= fa_icon "lock 4x"%>
              </div> 
              <div class="card-body">
                <%= link_to subscription, method: :get, class: "sub-card-link stretched-link" do %>
                  <h5 class=""><%= subscription.subscription_name %></h5>
                <% end %>
                <p class="card-text"><%= subscription.username %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <br>

  <% end %>
<% end %>
