<%= render :layout => 'subscriptions/shared/layout' do %>
<p id="notice"><%= notice %></p>

<h1>Your Subscriptions</h1>

<hr class="section-break">
  <% @subscriptions.in_groups_of(3, false).each do |group| %>
  <div class="row">
    <% group.each do |subscription| %>
      <div class="col col-sm-4">
        <div class="card" style="width: 18rem;">
          <div class="card-img" style="height: 18rem; background-color: var(--magenta);">

          </div>
          <%
=begin%>
 <img class="card-img-top" src="..." alt=<%= subscription.image %>> 
<%
=end%>
          <div class="card-body">
            <h5 class=""><%= subscription.subscription_name %></h5>
            <p class="card-text">username: <%= subscription.username %></p>
        
            <%= button_to 'view subscription', subscription, method: :get, class: "btn btn-dark btn-view-sub" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>


<br>

<%= button_to 'New Subscription', new_subscription_path, method: :get, class: "btn btn-dark" %>

<% end %>
