<script type="text/javascript">
    function toggleHidden() {
      document.getElementById("hidden_password").parentElement.classList.toggle("hidden");
    }
</script>

<div class="container">
<% if  flash[:notice] %><p id="notice" class="alert"><%= notice %></p><% end %>
</div>

<%= render :layout => 'subscriptions/shared/show' do %>
<div class="row group-show-header">
  <div class="col col-sm-2" align="center">
    <%= button_to 'Back', subscriptions_path, method: :get, class: "sub-header-btn"%>
  </div>
  <div class="col col-sm-8" align="center">
    <h1 class="sub-card-title"><%= @subscription.subscription_name %></h1>
  </div>
  <div class="col col-sm-2" align="center">
    <% if @subscription.can_edit?(current_user) %>
      <%= button_to 'Edit', edit_subscription_path(@subscription), method: :get, class: "sub-header-btn" %>
    <% end %>
  </div>
</div>
<hr>

<p class="subscription-card-title">Name</p>
<p><%= @subscription.subscription_name %></p>

<p class="subscription-card-title">Username</p>
<p><%= @subscription.username %></p>

<p class="subscription-card-title">Password</p>
<p><a id="view-password-button" class="button default ok" onclick=toggleHidden()>    View
  </a>
  <span class="hidden"><input value="<%= @subscription.password %>"  id="hidden_password"/></span>
</p>

<p class="subscription-card-title">Cost per month</p>
<p><%= @subscription.cost_per_month %></p>

<%= button_to 'Visit Service', @subscription.url, method: :get, class: "btn btn-dark" %>
<% if @subscription.user == current_user %>
  <%= button_to 'Delete', @subscription, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger card-btn-delete" %> 
<% end %>

<% end %>

<%= render :layout => 'subscriptions/shared/show_no_vines' do %>
  <h2 class="card-title-header">Shared With</h2>
  <hr>
  <% if @subscription.share_records.size <= 0 && (@subscription.user == current_user && @subscription.temp_share_records.size <= 0) %>
      <p style="text-align: center; padding: 10px 30px; ">This subscription is not shared with anyone. Create a group to share this subscription with, add it to one of your current groups, or create a temporary shared link below.</p>
  <% end %>
  
    <h4 style="margin: 20px 0 0;">Groups</h4>
      <% @subscription.share_records.each do |share_record| %>
      <% if @subscription.share_records.size > 0 %>
        <% group = Group.find(share_record.group_id) %>
        <div class="card" style="width: 100%; margin: 15px 0 0;">
          <div class="card-header text-right">
          <h6 class="card-title" style="font-weight: bold;  margin-bottom: 0; float: left;">
              <%= link_to "#{group.group_name} Group", group_path(group), class: "" %>
            </h6>
            <% if current_user == @subscription.user || current_user.is_admin?(group) %>
              <%= link_to "X", group_path(group, group: { subscription_ids: [@subscription.id], update_action: "remove"}), method: 'patch', class: "x-btn" %>
            <% end %>
          </div>
          <div class="card-body"  >
              <p><b>Owner: &nbsp </b> <%= link_to "#{group.owner.username}", user_root_path(group.owner.username), class: "card-user" %> </p>
              <p style="margin-bottom: 0"><b>Permission: </b> <%= share_record.permission %> </p>
          </div> 
        </div>
      <% end %>
      <br>
  <% end %>

  <% if @subscription.user == current_user && @subscription.temp_share_records.size > 0 %>
    <h4 style="margin: 20px 0 0;">Temporary Share Links</h4>
    
    
      <% @subscription.temp_share_records.each do |temp_share_record| %>
        <div class="card" style="width: 100%; margin-top: 15px;">
          <div class="card-header text-right">
          <h6 class="card-title" style="font-weight: bold;  margin-bottom: 0; float: left;">
              Created: <%= temp_share_record.created_at.to_s()[0,10] %> &nbsp | &nbsp
              Expires: <%= temp_share_record.end_date %>
            </h6>
            <%= link_to "X", temp_share_record, method: :delete, data: { confirm: 'Are you sure you want to delete this shared subscription (link will no longer be active)?' }, class: "x-btn" %>

          </div>
          <div class="card-body">
            <table style="width: 100%; margin-bottom: 0px;">
              <tr>    
                <td style="padding-bottom: 0" ><a href=<%= temp_shared_subscription_url(temp_share_record) %> class="card-user">Link</a></td>
                <td style="padding-bottom: 0">
                    <%= link_to "Extend", edit_temp_shared_subscription_path(temp_share_record), method: :get, class: "card-user" %>
                </td>
                <td style="padding-bottom: 0">
                    <%= link_to "Email", share_temp_shared_subscription_path(temp_share_record), method: :get, class: "card-user" %>
                </td>
              </tr>
            </table>  

          </div>
        </div>
        
      <% end %>
      <br>
  <% end %>
  <% if @subscription.can_edit?(current_user) %>
    <%= button_to 'Add to Group', edit_subscription_path(@subscription), method: :get, class: "btn btn-dark" %>
  <% end %>
<%= button_to 'Generate Shareable Link', share_subscription_path, method: :get, class: "btn btn-dark" %>
<% end %>

<%= render :layout => 'subscriptions/shared/show_no_vines' do %>

<h2 class="card-title-header">Active Reminders</h2>
<hr>

  <% if @subscription.reminders.count <= 0 %>
    <p style="text-align: center; padding: 10px 30px; ">You currently have no active reminders for this subscription. Create a reminder to be notified about upcomming billing, cancellation, and other notifications</p>
  <% end %>
  <% @subscription.reminders.each do |reminder| %>
    <% if reminder.subscription.subscription_name == @subscription.subscription_name %>
        <div class="card" style="width: 100%; margin: 15px 0 0;">
          <div class="card-header text-right">
          <h6 class="card-title" style="font-weight: bold;  margin-bottom: 0; float: left;">
              <%= reminder.reminder_type %> Reminder
            </h6>
            <%= link_to 'Edit', edit_reminder_path(reminder), method: :get, class: "" %> &nbsp | &nbsp 
            <%= link_to 'X', reminder, method: :delete, data: { confirm: 'Are you sure you want to delete this reminder?' }, class: "x-btn" %>

          </div>
          <div class="card-body"  >
              <p><b>Occurs: </b> <%= reminder.notification_time %> day(s) before <%= reminder.end_date %> </p>
              <p style="margin-bottom: 0"><b>Recurs: </b> 
              <% if reminder.recurring %>
                <%= reminder.frequency %>
              <% else %>
                Never
              <% end %>
              </p>
          </div>
        </div>
    <% end %>
    <br>
  <% end %>


<%= button_to 'Create Reminder', new_reminder_path, params: {subscription_id: @subscription},  method: :get, class: "btn btn-dark" %>

<% end %>