<!DOCTYPE html>
<html>
  <head>
    <title>Gatekeeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;500;700&display=swap" rel="stylesheet">
  
    <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" /> %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body onload="stringToColor()">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "/", method: :get, class: "navbar-brand" do %>
      <%= image_tag "FancyG.png", style: "height: 30px;" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><%= link_to "Search", search_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Statistics", statistics_path, class: "nav-link" %></li>
        <% if current_user %>
            <div class="dropdown nav-item">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= fa_icon "user-circle 2x" %>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <%= link_to "Profile", user_root_path(current_user.username), class: "nav-link"  %>
                <%= link_to "Subscriptions", subscription_root_path, method: :get, class: "nav-link"  %>
                <%= link_to "Reminders", reminder_root_path, class: "nav-link"  %>
                <%= link_to "Groups", group_root_path, class: "nav-link"  %>
                <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "nav-link" %>
              </div>
            </div>
        <% else %>
          <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link"  %> </li>
          <li class="nav-item"><%= link_to "Sign In", user_session_path, class: "nav-link"  %> </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <%= yield %>
  <script>
    $(document).on('ready page:load', function () {
      $('#user_ids').chosen({
        allow_single_deselect: true,
        width: '100%'
      })
    });

  function stringToColor() {
    const collection = document.getElementsByClassName("sub-card-img");
    console.log(collection)
      for (let j = 0; j < collection.length; j++) {
      let string = collection[j].id;
      // string = string.substring(0, string.length - 2);
      let hash = 0;
      let i = 0;

      for (i = 0; i < string.length; i += 1) {
        hash = string.charCodeAt(i) + ((hash << 5) - hash);
      }

      let color = "#";

      for (i = 0; i < 3; i += 1) {
        const value = (hash >> (i * 8)) & 0xff;
        color += `00${value.toString(16)}`.substr(-2);
      }

      var c = color.substring(1);
      var rgb = parseInt(c, 16);
      var r = (rgb >> 16) & 0xff;
      var g = (rgb >>  8) & 0xff;
      var b = (rgb >>  0) & 0xff;

      var luma = 0.2126 * r + 0.7152 * g + 0.0722 * b; // per ITU-R BT.709

      if (luma > 200) {
        color = "#0E4DA4";
      }

      collection[j].style.backgroundColor = color;
      }
  }
  </script>
  </body>
</html>
