<%= render :layout => 'users/shared/cards' do %>
  <h2 class="card-title">Sign Up</h2>
  <hr/>

  <script type="text/javascript">
    function toggleHidden1() {
      if (document.getElementById("user_password").type === 'password') {
        document.getElementById("user_password").type = 'text';
      } else {
        document.getElementById("user_password").type = 'password'
      }
    }
    function toggleHidden2() {
      if (document.getElementById("user_password_confirmation").type === 'password') {
        document.getElementById("user_password_confirmation").type = 'text';
      } else {
        document.getElementById("user_password_confirmation").type = 'password'
      }
    }
  </script>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
    </div>
    
    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "username"%>
    </div>
    
    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name" %>
    </div>
    
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password"%>
      <a id="view-password-button" class="button default ok" onclick="toggleHidden1()">
        View
      </a>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password"%>
      <a id="view-password-button" class="button default ok" onclick="toggleHidden2()">
        View
      </a>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>

<% end %>

